#info{
    background-color: #3b44b99d;
    border: 2px solid #050b5e;
    color: #050b5e;

}
#warning{
    background-color:  #b99b3b9d;
    border: 2px solid #5e4e05;
    color: #5e4e05;;

}
#error{
    background-color: #b93b3b9d;
    border: 2px solid #5e0505;
    color:  #5e0505;

}